@import './fonts.css';
@import 'tailwindcss';

@theme {
    --font-inter: 'Inter', 'sans-serif';
    --font-barlow: 'Barlow', 'sans-serif';
    --font-barlow-condensed: 'Barlow Condensed', 'sans-serif';

    --bg-primary-cray: #fbf9ee;
    --bg-secondary-cray: #fccd97;
    --bg-tertiary-cray: #fff2e2;

    --text-color-black: #0a0907;
    --text-color-grey: #b5b2b6;

    --my-width-nav: calc(100% - 32px);
}

:root,
#root {
    background-color: var(--bg-primary-cray);
}

.line-clamp-3 {
    line-clamp: 3;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
